<div class="root" *ngIf="!loading">
    <div class="list-info color1 shadow1">
        <div class="list-info__preview">
            <p class="list-info__size">
                {{ listInfo?.size }}
                {{ listInfo?.size == 1 ? "articol" : "articole" }}
            </p>
            <img
                class="list-info__cover-image"
                src="{{
                    articles[0]?.cover
                        ? articles[0]?.cover
                        : 'https://wallpaperaccess.com/full/690185.jpg'
                }}"
            />
        </div>
        <div class="list-info__content">
            <div *ngIf="listId > 0 && listInfo.own">
                <button
                    class="list-info__action"
                    mat-icon-button
                    (click)="copyLink()"
                    (click)="onChangePublic(listInfo.public)"
                >
                    <mat-icon>{{
                        listInfo.public ? "public" : "lock"
                    }}</mat-icon>
                </button>
                <button
                    class="list-info__action"
                    mat-icon-button
                    (click)="copyLink()"
                >
                    <mat-icon>content_copy</mat-icon>
                </button>
                <button
                    class="list-info__action"
                    mat-icon-button
                    color="warn"
                    (click)="onRemoveList()"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <p class="list-info__author">{{ listInfo.author }}</p>
            <div
                class="list-info__name"
                aria-colcount="list-info__name"
                [attr.contenteditable]="listInfo.own && listId > 0"
                (input)="onChangeTitle(name.innerText)"
                #name
            >
                {{ listInfo.name }}
            </div>
        </div>
    </div>
    <div class="articles">
        <a
            class="article color1 shadow1 hoverable"
            *ngFor="let article of articles"
            href="articol/{{ article.url }}"
            #listItem
        >
            <div class="article__image-wrapper">
                <img class="article__image" src="{{ article.cover }}" />
            </div>
            <div class="article__content-wrapper">
                <p class="article__date hide-on-mob">{{ article.date }}</p>
                <h1 class="article__title">{{ article.title }}</h1>
                <p class="article__preview-text hide-on-mob">
                    {{ article.text | articlePreview: 45 }}
                </p>
                <p class="article__preview-text hide-on-large">
                    {{ article.text | articlePreview: 20 }}
                </p>
            </div>
        </a>
    </div>
</div>
<div class="root loading" *ngIf="loading">
    <div class="list-info color1 shadow1">
        <div class="preview">
            <div class="preview-box"></div>
        </div>
        <div class="info-content">
            <div class="button hide-on-mob"></div>
            <div class="button"></div>
            <div class="button"></div>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <div class="articles">
        <div class="article color1 shadow1" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
            <div class="article__image-wrapper">
                <div class="article__image"></div>
            </div>
            <div class="article__content-wrapper">
                <h1></h1>
                <h2></h2>
            </div>
        </div>
    </div>
</div>
