.root {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.list-info {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    &__preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__cover-image {
        filter: brightness(50%);
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }
    &__size {
        color: #fff;
        font-size: 2rem;
        position: absolute;
        z-index: 1;
    }
    &__content {
        padding: 5%;
    }
    &__action {
        float: right;
        margin-top: -3%;
    }
    &__name {
        margin-top: -2%;
        line-height: normal;
        font-size: 2rem;
        width: 80%;
    }
}

.articles {
    width: 100%;
    margin-left: 34%;
}
.article {
    text-decoration: none;
    display: flex;
    position: relative;
    border-radius: 10px;
    margin-bottom: 3%;
    overflow: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    &:hover .article-title {
        color: #2196f3;
    }
    &__date {
        bottom: 1%;
        position: absolute;
        right: 2%;
    }
    &__image-wrapper {
        width: 18%;
    }
    &__image {
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    &__content-wrapper {
        width: 90%;
        margin-top: 1%;
        margin-left: 2%;
        margin-bottom: 1%;
    }
    &__title {
        font-weight: 500;
        margin-top: 1.6%;
        margin-bottom: 1%;
        width: 90%;
        transition: color 0.2s;
    }
    &__preview-text {
        width: 90%;
    }
}
.show {
    opacity: 1;
    transform: translateX(0);
}

.loading {
    .preview-box {
        height: 15rem;
        width: 100%;
        border-radius: 10px;
        background-color: #ccc;
        animation: loading 1.4s infinite;
    }

    .button {
        width: 35px;
        height: 35px;
        margin-right: 2%;
        border-radius: 50%;
        float: right;
        background-color: #ccc;
        animation: loading 1.4s infinite;
    }
    .article {
        opacity: 1;
        transform: translateX(0);
        &__image {
            background-color: #ccc;
            animation: loading 1.4s infinite;
        }
        h1 {
            margin: 2% 0 2% 1%;
        }    
    }
    h2 {
        margin: 2% 0 2% 1%;
        height: 5rem;
        width: 95%;
        background-color: #ccc;
        border-radius: 10px;
        animation: loading 1.4s infinite alternate-reverse;
    }

    h1 {
        margin: 4% 0 4% 3%;
        height: 2rem;
        width: 60%;
        background-color: #ccc;
        border-radius: 10px;
        animation: loading 1.4s infinite alternate-reverse;
    }
}
@media only screen and (max-width: 600px) {
    .root {
        display: flex;
        flex-direction: column;
    }

    .more-articles-button {
        width: 100%;
        margin-bottom: 2%;
    }

    .list-info {
        width: 100%;
        position: relative;
        margin-bottom: 1%;
        &__image {
            width: 100%;
        }
        &__content {
            padding: 5%;
        }
        &__name {
            margin-top: -2%;
            line-height: normal;
            font-size: 1.5rem;
            width: 80%;
        }
        &__author {
            font-size: 0.8rem;
        }
    }

    .articles {
        width: 100%;
        margin: 0;
    }
    .article {
        flex-direction: column;
        border-radius: 10px;
        margin-top: 6%;
        &__image-wrapper {
            width: 100%;
        }
        &__image {
            height: 15rem;
        }
        &__content-wrapper {
            width: 92%;
            margin-top: 1%;
            margin-left: 4%;
        }
        &__title {
            font-weight: 500;
            margin-top: 1.6%;
            width: 90%;
            font-size: 18px;
            line-height: normal;
            margin-bottom: 2%;
        }
        &__preview-text {
            width: 100%;
            font-size: 14px;
        }
    }
}
