<img
    class="feature-image"
    src="https://scontent.fbzy1-1.fna.fbcdn.net/v/t1.6435-9/198512478_2894127287570044_6183891299441856728_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=7BeQDtUubMAAX-QQncQ&_nc_ht=scontent.fbzy1-1.fna&oh=fb7c888ba8187d9435403de8ddd07f12&oe=61CC6F3F"
/>
<div class="main">
    <div class="info">
        <h1 class="info__title">Despre noi:</h1>
        <p class="info__description">
            Publicaţia Periodică „Est – Curier” este difuzată în raioanele
            Criuleni şi Dubăsari.<br />
            A fost înregistrată la Ministerul Justiţiei al RM în data de 26
            martie, 1997.
        </p>
        <p class="info__address">
            <b>Adresa:</b> MD-4801, Republica Moldova,<br />
            or. Criuleni, str. 31 August 1989, nr. 101/4<br />
            <b>Email:</b> contact@estcurier.md, motrici@mail.ru
        </p>
        <p class="info__telephone">
            <b>Telefoane de contact:</b><br />
            0248 2-01-83<br />
            069789896
        </p>
        <p class="info__social">
            <b>Rețele sociale:</b><br />
            <a href="https://www.facebook.com/estcurier">Facebook</a><br />
            <a href="https://www.youtube.com/channel/UCflgGBMYMLcveK-xoX_RipA"
                >Youtube</a
            ><br />
            <a href="https://www.instagram.com/estcurier/">Instagram</a>
        </p>
        <p class="info__author">
            <b>Dezvoltator site:</b><br />
            Motricală Alin-Gabriel | motricala44@gmail.com
        </p>
    </div>
    <iframe
        class="map shadow1"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d677.5626728616038!2d29.162297829212303!3d47.211676909699015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2a785189444d4851!2zNDfCsDEyJzQyLjAiTiAyOcKwMDknNDYuMiJF!5e0!3m2!1sro!2s!4v1638391628315!5m2!1sro!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
    ></iframe>
</div>
<div class="widgets-pricing shadow1">
    <h1>Condiții de plasare a publicității</h1>
    <table class="color1">
        <tbody>
            <tr>
                <td width="31">1</td>
                <td width="394">Publicitate pe paginile interioare</td>
                <td width="213">4 lei cm<sup>2</sup></td>
            </tr>
            <tr>
                <td width="31">2</td>
                <td width="394">Publicitate pe prima pagină</td>
                <td width="213">8 lei&nbsp;cm<sup>2</sup></td>
            </tr>
            <tr>
                <td width="31">3</td>
                <td width="394">Felicitare</td>
                <td width="213">2 lei cm<sup>2</sup></td>
            </tr>
            <tr>
                <td width="31">4</td>
                <td width="394">Felicitare pe prima pagină</td>
                <td width="213">4 lei&nbsp;&nbsp;cm<sup>2</sup></td>
            </tr>
            <tr>
                <td width="31">5</td>
                <td width="394">Condoleanțe/ mulțumire</td>
                <td width="213">100 lei</td>
            </tr>
            <tr>
                <td width="31">6</td>
                <td width="394">Articole de promovare</td>
                <td width="213">1 leu cm<sup>2</sup></td>
            </tr>
            <tr>
                <td width="31">7</td>
                <td width="394">Publicitate pe pagina web (macheta)</td>
                <td width="213">100 / 200 lei pe săptamână</td>
            </tr>
            <tr>
                <td width="31">8</td>
                <td width="394">
                    Anunț instituții publice(concurs, aviz funcție vacantă)
                </td>
                <td width="213">2 lei&nbsp;cm<sup>2</sup></td>
            </tr>
        </tbody>
    </table>
</div>
