.add-survey-button {
    float: right;
}

mat-form-field {
    margin-top: 1rem;
    width: 100%;
}

.question {
    display: flex;
    width: 100%;
    margin-top: -1.5rem;
}

.delete-answer-btn {
    margin: 10% 1%;
}