<div class="app-frame mat-app-background">
    <mat-sidenav-container hasBackdrop style="width: 100%; height: 100vh">
        <mat-sidenav
            [(opened)]="opened"
            mode="over"
            class="sidenav"
        >
            <app-account-side-nav></app-account-side-nav>
        </mat-sidenav>
        <mat-sidenav-container hasBackdrop class="app-frame mat-app-background" style="width: 100vw; overflow: hidden;">
            <mat-sidenav
            [(opened)]="openedSearch"
            mode="over"
            position = "end"
            class="search-sidenav"
        >
            <app-search></app-search>
        </mat-sidenav>
        <header>
            <div class="header" id="header">
                <button
                    mat-icon-button
                    (click)="onChangeTheme()"
                    class="hide-on-mob change-theme-button header-button"
                >
                    <mat-icon>{{ isDarkTheme ? 'brightness_5' : 'brightness_4' }}</mat-icon>
                </button>
                <button mat-icon-button class="hide-on-mob search-button header-button" (click)="onOpenSearchNav()">
                    <mat-icon>search</mat-icon>
                </button>
                <mat-icon class="hide-on-large search-button header-button" (click)="onOpenSearchNav()">search</mat-icon>
                <button
                    mat-icon-button
                    class="hide-on-mob sidenav-button header-button"
                    (click)="onOpenAccountNav()"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-icon class="sidenav-button header-button hide-on-large" (click)="onOpenAccountNav()">menu</mat-icon>
                <a class="header-title" [class.awesomeTitle]="awesomeTitle" href="/">Est-Curier</a>
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            </div>
        </header>
        <div class="body">
            <main>
                <router-outlet></router-outlet>
            </main>
            <footer class="color1 shadow1">
                <div class="inner-footer">
                    <h1 class="footer-title">Est Curier</h1>
                    <p class="footer-text">
                        Ziarul cu care stai de vorbă și în care poți avea încredere<br>
                        <span class="footer-about" routerLink="despre-noi">Despre noi</span>
                    </p>
                    
                    <div class="footer-copyright">
                        © 2022 Est Curier. All Rights Reserved.<br>
                    </div>
                </div>
                <div class="socials">
                    <a class="social facebook" href="https://www.facebook.com/estcurier" target="_blank"><img src="assets/images/facebook.svg"></a>
                    <a class="social youtube" href="https://www.youtube.com/channel/UCflgGBMYMLcveK-xoX_RipA" target="_blank"><img src="assets/images/youtube.svg"></a>
                    <a class="social instagram" href="https://www.instagram.com/estcurier/" target="_blank"><img src="assets/images/instagram.svg"></a>
                </div>
            </footer>
        </div>
        </mat-sidenav-container>
    </mat-sidenav-container>
</div>
