<div class="main">
    <div class="menu shadow1">
        <span
            class="menu__item"
            [class.selected-category]="selected == 'economic'"
            (click)="onSelectCategory('economic')"
            >Economic</span
        >
        <span
            class="menu__item"
            [class.selected-category]="selected == 'politic'"
            (click)="onSelectCategory('politic')"
            >Politic</span
        >
        <span
            class="menu__item"
            [class.selected-category]="selected == 'social'"
            (click)="onSelectCategory('social')"
            >Social</span
        >
        <span
            class="menu__item hide-on-mob"
            [class.selected-category]="selected == 'internațional'"
            (click)="onSelectCategory('internațional')"
            >Internațional</span
        >
        <span
            class="menu__item hide-on-mob"
            [class.selected-category]="selected == 'ecjunior'"
            (click)="onSelectCategory('ecjunior')"
            >EC Junior</span
        >
        <span
            class="menu__item hide-on-mob"
            [class.selected-category]="
                selected == 'investigații' ||
                selected == 'stopfals' ||
                selected == 'longRead'
            "
            id="social-projects"
            >Proiecte Speciale
            <div class="dropdown">
                <span
                    class="dropdown__item"
                    [class.selected-category]="selected == 'investigații'"
                    (click)="onSelectCategory('investigații')"
                    >Investigații</span
                >
                <span
                    class="dropdown__item"
                    [class.selected-category]="selected == 'stopfals'"
                    (click)="onSelectCategory('stopfals')"
                    >StopFals</span
                >
                <span
                    class="dropdown__item"
                    [class.selected-category]="selected == 'LongRead'"
                    (click)="onSelectCategory('longread')"
                    >LongRead-uri</span
                >
            </div>
        </span>
        <span
            class="menu__item hide-on-mob"
            [class.selected-category]="selected == 'editorial'"
            (click)="onSelectCategory('editorial')"
            >Editorial</span
        >
        <span class="menu__item" routerLink="mica-publicitate"
            >Publicitate</span
        >
    </div>
    <div class="articles-wrapper" *ngIf="!loading">
        <div class="left-side-articles">
            <a
                class="article shadow1 color1 hoverable"
                href="/articol/{{ articles[0]?.url }}"
            >
                <img class="article__image" src="{{ articles[0]?.cover }}" />
                <h1 class="article__title">{{ articles[0]?.title }}</h1>
            </a>
            <a
                class="article shadow1 color1 hoverable"
                href="/articol/{{ articles[4]?.url }}"
                *ngIf="!widget.activated"
            >
                <img class="article__image" src="{{ articles[4]?.cover }}" />
                <h1 class="article__title">{{ articles[4]?.title }}</h1>
            </a>
            <a
                class="article shadow1 color1 hoverable second"
                href="/articol/{{ widget?.link }}"
                *ngIf="widget.activated"
            >
                <mat-icon class="article__monetization"
                    >monetization_on</mat-icon
                >
                <img class="article__image" src="{{ widget?.image }}" />
                <h1 class="article__title">{{ widget?.text }}</h1>
            </a>
        </div>
        <div class="right-side-articles">
            <a
                class="feature-article shadow1 color1 shadow1 hoverable"
                href="/articol/{{ articles[1]?.url }}"
            >
                <img
                    class="feature-article__image"
                    src="{{ articles[1]?.cover }}"
                />
                <h1 class="feature-article__title">{{ articles[1]?.title }}</h1>
            </a>
            <div class="small-articles-wrapper">
                <a
                    class="small-article shadow1 hoverable shadow1"
                    href="/articol/{{ articles[2]?.url }}"
                >
                    <span class="small-article__text">{{
                        articles[2]?.title
                    }}</span>
                    <img
                        mat-card-image
                        class="small-article__image"
                        src="{{ articles[2]?.cover }}"
                    />
                </a>
                <a
                    class="small-article shadow1 hoverable shadow1"
                    href="/articol/{{ articles[3]?.url }}"
                >
                    <span class="small-article__text">{{
                        articles[3]?.title
                    }}</span>
                    <img
                        mat-card-image
                        class="small-article__image"
                        src="{{ articles[3]?.cover }}"
                    />
                </a>
            </div>
        </div>
    </div>
    <div class="articles-wrapper loading" *ngIf="loading">
        <div class="left-side-articles">
            <a class="article shadow1 color1">
                <div class="box"></div>
                <h1></h1>
            </a>
            <a class="article shadow1 color1 second">
                <div class="box"></div>
                <h1></h1>
            </a>
        </div>
        <div class="right-side-articles">
            <a class="feature-article article shadow1 color1">
                <div class="feature-box"></div>
                <h2></h2>
            </a>
            <div class="small-article-wrapper">
                <a class="small-article shadow1 hoverable shadow1">
                    <div class="small-box"></div>
                </a>
                <a class="small-article shadow1 hoverable shadow1">
                    <div class="small-box"></div>
                </a>
            </div>
        </div>
    </div>
</div>
