<div class="main">
    <a
        class="widget shadow1 color1 hoverable"
        href="/articol/{{ widget?.link }}"
        *ngIf="widget?.activated"
    >
        <mat-icon class="widget__monetization">monetization_on</mat-icon>
        <img class="widget__image" src="{{ widget?.image }}" />
        <h1 class="widget__title">{{ widget?.text }}</h1>
    </a>
    <a
        class="article shadow1"
        href="/articol/{{ article.url }}"
        *ngFor="let article of articles"
    >
        <p class="article__title">{{ article.title }}</p>
        <img class="article__image" src="{{ article.cover }}" />
    </a>
</div>
