.comments-count {
    margin-top: 1rem;
}

.add-comment {
    display: flex;
    &__user-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    &__input {
        width: 100%;
        margin-top: -1.5rem;
    }
    &__button {
        float: right;
        margin-top: -0.7rem;
    }
}

.comments {
    margin-top: 2rem;
}

.comment {
    margin-top: 1.2rem;
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    &__user-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    &__user-name {
        font-weight: 500;
        margin-bottom: 0.2rem;
    }
    &__date {
        margin-left: 0.5rem;
        font-size: 10px;
        font-weight: normal;
    }
    &__delete-button {
        right: 0;
        display: none;
        position: absolute;
    }
    &:hover &__delete-button {
        display: block;
    }
}

.admin {
    color: #1565c0;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

@media only screen and (max-width: 600px) {
    .comment {
        opacity: 1;
        transform: translateX(0);
    }
    h1 {
        font-size: 1.2rem;
    }
    h3 {
        margin-top: -3%;
        line-height: normal;
        font-size: 0.8rem;
        margin-bottom: -5%;
    }
}


