<a
    class="article color1 shadow1 hoverable"
    *ngFor="let article of articles"
    href="articol/{{ article.url }}"
>
    <div class="article__image-wrapper">
        <img class="article__image" src="{{ article.cover }}" />
    </div>
    <div class="article__content-wrapper">
        <h1 class="article__title">{{ article.title }}</h1>
        <p class="article__preview-text hide-on-mob">
            {{ article.text | articlePreview: 60 }}
        </p>
        <p class="article__preview-text hide-on-large">
            {{ article.text | articlePreview: 20 }}
        </p>
    </div>
</a>
