<div class="main" *ngIf="surveys?.length">
    <div class="survey color1 shadow1">
        <h1><span *ngIf="surveys.length > 1">{{ selected + 1 }}. </span>{{ surveys[selected].question}}</h1>
        <div class="surveys__arrows" *ngIf="surveys?.length - 1">
            <mat-icon class="survey__arrow-left" (click)="changeSurvey(1)">chevron_left</mat-icon>
            <mat-icon class="survey__arrow-right" (click)="changeSurvey(0)">chevron_right</mat-icon>
        </div>
        <div class="variant" [class.color2]="variant?.voted" (click)="onVote(variant?.id)" *ngFor="let variant of surveys[selected]?.variants">
            <h3 class="variant__content">{{ variant.content }}<span class="variant__votes-total">{{ variant.votes }}</span></h3>
            <div class="variant__votes-line color3" [style.width.%]="variant.votes * 100 / surveys[selected].votes "></div>
        </div>
    </div>
</div>