<div class="main">
    <div class="slider" [style.display]="!loading ? 'flex' : 'none'">
        <a class="slide color1 shadow1 hoverable" *ngFor="let slide of slides.slice(0, 4)" style="background-image: url('{{ slide.cover }}');" href="/articol/{{ slide.url }}">
            <h1 class="slide-text">{{ slide.title }}</h1>
            <img class="slide-image" [src]="slide.cover">
        </a>
        <div class="more-articles shadow2" (click)="searchLongReads()" title="Mai multe LongRead-uri">
            <mat-icon>apps</mat-icon>
        </div>
    </div>
    <div class="slider loading" [style.display]="loading ? 'flex' : 'none'">
        <div class="box" *ngFor="let slide of [1, 2, 3, 4]"></div>
    </div>
</div>