.main {
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 25%;
    mat-form-field {
        width: 100%;
    }
    button {
        margin-top: 6%;
    }
}

.right-side {
    width: 73.5%;
}

.image {
    max-width: 100%;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
}