<div *ngIf="!loading">
    <div class="list" *ngFor="let list of lists">
        <a
            href="/lista/{{ list.id }}"
            class="list__name color1 shadow1 hoverable text-color1"
            >{{ list.name }}</a
        >
        <div class="articles-wrapper">
            <a
                *ngFor="let article of list.preview; let i = index"
                [class.hide-on-mob]="i > 1"
                class="article hoverable"
                href="/articol/{{ article.url }}"
            >
                <p class="article__title">{{ article.title }}</p>
                <img class="article__image" src="{{ article.cover }}" />
            </a>
            <a
                class="last-article"
                *ngIf="list.length > 3"
                href="/lista/{{ list.id }}"
            >
                <p class="last-article__info">
                    + {{ list.length - list.preview.length }} articol{{
                        list.length - list.preview.length == 1 ? "" : "e"
                    }}
                </p>
                <img class="last-article__image" src="{{ list.lastPreview }}" />
            </a>
            <a
                class="empty-list color1 shadow1"
                *ngIf="!list.length"
                href="/lista/{{ list.id }}"
            >
                <p>Lista e goală</p>
            </a>
        </div>
    </div>
</div>
<div class="loading" *ngIf="loading">
    <div>
        <h1></h1>
        <div class="articles">
            <div class="box"></div>
            <div class="box hide-on-mob"></div>
            <div class="box hide-on-mob"></div>
            <div class="box"></div>
        </div>
    </div>
    <div>
        <h1></h1>
        <div class="articles">
            <div class="box"></div>
            <div class="box hide-on-mob"></div>
            <div class="box hide-on-mob"></div>
            <div class="box"></div>
        </div>
    </div>
    <div>
        <h1></h1>
        <div class="articles">
            <div class="box"></div>
            <div class="box hide-on-mob"></div>
            <div class="box hide-on-mob"></div>
            <div class="box"></div>
        </div>
    </div>
</div>
