.list {
    padding: 1.5% 2% 2% 2%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: center;
    &__name {
        cursor: pointer;
        font-size: 42px;
        line-height: normal;
        text-decoration: none;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: #2196f3;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.5s ease-in-out;
        }
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

.articles-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    margin-top: 2%;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    &__title {
        line-height: normal;
        cursor: pointer;
        color: #fff;
        position: absolute;
        z-index: 1;
        font-size: 1.5rem;
        width: 90%;
    }
    &__image {
        cursor: pointer;
        filter: brightness(80%);
        width: 100%;
        height: 15rem;
        overflow: hidden;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
    }
    &:hover &__image {
        filter: brightness(50%);
        transform: scale(1.2);
    }
}
.last-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 15rem;
    border-radius: 10px;
    &__info {
        cursor: pointer;
        color: #fff;
        position: absolute;
        z-index: 1;
        font-size: 2rem;
    }
    &__image {
        cursor: pointer;
        filter: brightness(10%);
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        height: 15rem;
        object-fit: cover;
    }
}
.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5% 10% 1% 10%;
    width: 100%;
    word-wrap: unset;
    text-decoration: none;
}

.loading {
    h1 {
        height: 3.5rem;
        width: 60%;
        background-color: #ccc;
        border-radius: 10px;
        animation: loading 1.4s infinite alternate;
    }
    .box {
        height: 15rem;
        border-radius: 10px;
        width: 100%;
        background-color: #ccc;
        margin-bottom: 2%;
        margin-right: 2%;
        animation: loading 1.4s infinite;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        height: 10rem !important;
    }
    .list__name {
        font-size: 14px;
        margin-bottom: 3%;
        padding: 2% 4%;
    }

    .articles-wrapper {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2%;
    }
    .article {
        width: 100%;
        margin-bottom: 3%;
        height: 6rem;
        &__title {
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        &__image {
            filter: brightness(50%);
        }
    }
    .last-article {
        width: 100%;
        height: 6rem;
        &__info {
            font-size: 0.8rem;
        }
    }
}
