<div class="main">
    <div *ngIf="!loading">
        <div class="list" *ngFor="let list of lists">
            <a href="/lista/{{list.id}}" class="color1 shadow1 hoverable name text-color1"><h1>{{list.name}}</h1></a>
            <div class="articles">
                <a *ngFor="let article of list.preview; let i = index" [class.hide-on-mob]="i > 0" class="article hoverable" href="/articol/{{article.url}}">
                    <p class="article-title">{{article.title}}</p>
                    <img src="{{article.cover}}">
                </a>
                <a class="last-article" *ngIf="list.length > 3" href="/lista/{{list.id}}">
                    <p class="last-article-info">+ {{ list.length - list.preview.length }} articol{{ list.length - list.preview.length == 1 ? '' : 'e' }}</p>
                    <img src="{{list.lastPreview}}">
                </a>
                <a class="empty-list color1 shadow1" *ngIf="!list.length" href="/lista/{{list.id}}">
                    <p class="last-article-info">Lista e goală</p>
                    <img src="{{list.lastPreview}}" class="shadow1">
                </a>
            </div>
        </div>
    </div>
    <div class="loading" *ngIf="loading">
        <div>
            <h1></h1>
            <div class="articles">
                <div class="box"></div>
                <div class="box hide-on-mob"></div>
                <div class="box hide-on-mob"></div>
                <div class="box"></div>
            </div>
        </div>
        <div>
            <h1></h1>
            <div class="articles">
                <div class="box"></div>
                <div class="box hide-on-mob"></div>
                <div class="box hide-on-mob"></div>
                <div class="box"></div>
            </div>
        </div>
        <div>
            <h1></h1>
            <div class="articles">
                <div class="box"></div>
                <div class="box hide-on-mob"></div>
                <div class="box hide-on-mob"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>
</div>