<div class="main">
    <button class="refresh-yt-video" mat-raised-button (click)="onUpdateVideos()">Actualizează video-urile de pe YouTube</button>
    <div class="avertorial avertorial1 shadow1" *ngIf="widgets[0]">
        <div class="avertorial_img">
            <p class="avertorial-text">{{widgets[0]?.text}}</p>
            <img src="{{ widgets[0]?.actualImage }}" [class.unactivated]="!widgets[0]?.activated">
        </div>
        <div class="avertorial-info-container color1" >
            <div class="avertorial-info">
                <h1>Bloc Publicitar #1</h1>
                <mat-form-field>
                    <mat-label>Text Reclamă</mat-label>
                    <input matInput [(ngModel)]="widgets[0].text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Link</mat-label>
                    <input matInput [(ngModel)]="widgets[0].link">
                </mat-form-field>
                <button mat-raised-button color="primary" class="upload-img" (click)="onSetImage(0)">Încarcă imaginea</button>
                <button mat-stroked-button color="accent" class="save-avertorial" (click)="onEditWidget(widgets[0])">Salvează</button>
                <mat-slide-toggle [(ngModel)]="widgets[0].activated">Activează</mat-slide-toggle>
            </div>
        </div>
    </div>


    <div class="avertorial shadow1" *ngIf="widgets[1]">
        <mat-card class="color1">
            <img mat-card-image src="{{ widgets[1]?.actualImage }}" [class.unactivated]="!widgets[1]?.activated">
            <mat-card-content>
                {{widgets[1]?.text}}
            </mat-card-content>
        </mat-card>
        <div class="avertorial-info-container color1">
            <div class="avertorial-info">
                <h1>Bloc Publicitar #2</h1>
                <mat-form-field>
                    <mat-label>Text Reclamă</mat-label>
                    <input matInput [(ngModel)]="widgets[1].text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Link</mat-label>
                    <input matInput [(ngModel)]="widgets[1].link">
                </mat-form-field>
                <button mat-raised-button color="primary" class="upload-img" (click)="onSetImage(1)">Încarcă imaginea</button>
                <button mat-stroked-button color="accent" class="save-avertorial" (click)="onEditWidget(widgets[1])">Salvează</button>
                <mat-slide-toggle [(ngModel)]="widgets[1].activated">Activează</mat-slide-toggle>
            </div>
        </div>
    </div>

    <div class="avertorial shadow1" *ngIf="widgets[2]">
        <mat-card class="color1">
            <img mat-card-image src="{{ widgets[2]?.actualImage }}" [class.unactivated]="!widgets[2]?.activated">
            <mat-card-content>
                {{widgets[2]?.text}}
            </mat-card-content>
        </mat-card>
        <div class="avertorial-info-container color1">
            <div class="avertorial-info">
                <h1>Bloc Publicitar #3</h1>
                <mat-form-field>
                    <mat-label>Text Reclamă</mat-label>
                    <input matInput [(ngModel)]="widgets[2].text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Link</mat-label>
                    <input matInput [(ngModel)]="widgets[2].link">
                </mat-form-field>
                <button mat-raised-button color="primary" class="upload-img" (click)="onSetImage(2)">Încarcă imaginea</button>
                <button mat-stroked-button color="accent" class="save-avertorial" (click)="onEditWidget(widgets[2])">Salvează</button>
                <mat-slide-toggle [(ngModel)]="widgets[2].activated">Activează</mat-slide-toggle>
            </div>
        </div>
    </div>


    <div class="avertorial shadow1" *ngIf="widgets[3]">
        <mat-card class="color1">
            <mat-card-header *ngIf="widgets[3]?.author.trim().length > 0 || widgets[3]?.text.trim().length > 0">
                <mat-card-title>{{ widgets[3].text }}</mat-card-title>
                <mat-card-subtitle><span *ngIf="widgets[3]?.author.trim().length > 0">Autor: </span>{{ widgets[3]?.author }}</mat-card-subtitle>
              </mat-card-header>            
            <img mat-card-image src="{{ widgets[3]?.actualImage }}" [class.unactivated]="!widgets[3]?.activated">
            <mat-card-content>
                Imaginea Săptămânii
            </mat-card-content>
        </mat-card>
        <div class="avertorial-info-container color1">
            <div class="avertorial-info">
                <h1>Imaginea Săptămânii</h1>
                <mat-form-field>
                    <mat-label>Descriere</mat-label>
                    <input matInput [(ngModel)]="widgets[3].text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Autor</mat-label>
                    <input matInput [(ngModel)]="widgets[3].author">
                </mat-form-field>
                <button mat-raised-button color="primary" class="upload-img" (click)="onSetImage(3)">Încarcă imaginea</button>
                <button mat-stroked-button color="accent" class="save-avertorial" (click)="onEditWidget(widgets[3])">Salvează</button>
                <mat-slide-toggle [(ngModel)]="widgets[3].activated">Activează</mat-slide-toggle>
            </div>
        </div>
        
    </div>
    <div class="live color1 shadow1" *ngIf="widgets[4]">
        <h1>Live</h1>
        <div class="fields" >
            <mat-form-field appearance="outline">
                <mat-label>Denumire</mat-label>
                <input matInput [(ngModel)]="widgets[4].text">
            </mat-form-field>
            <mat-form-field appearance="outline" style="margin-left: 3%;">
                <mat-label>Link</mat-label>
                <input matInput [(ngModel)]="widgets[4].link">
            </mat-form-field>
        </div>
        <button mat-stroked-button color="accent" class="save-avertorial" (click)="onEditWidget(widgets[4])">Salvează</button>
        <mat-slide-toggle [(ngModel)]="widgets[4].activated">Activează</mat-slide-toggle>
    </div>
</div>