<div *ngIf="!loading">
    <div class="user-details">
        <img src="{{ user.photoURL }}" class="user-details__photo">
        <h1 class="user-details__name">{{user.displayName}}</h1>
        <b class="user-details__status">{{user.isStaff? 'Administrator' : 'Utilizator'}}</b>
    </div>
    <img src="https://wallpaperaccess.com/full/690185.jpg" class="background-image">
    <a class="action text-color1 hide-on-mob" href="creeaza-articol" *ngIf="user.isStaff">
        <mat-icon class="action__icon">edit</mat-icon>Adaugă articol
    </a>
    <a class="action text-color1 hide-on-mob" *ngIf="user.isStaff" href="ciorne">
        <mat-icon class="action__icon">edit_notifications</mat-icon><span matBadge="{{ draftsCount }}" matBadgeOverlap="false">Ciornă</span>
    </a>
    <a class="action text-color1 hide-on-mob" href="widget-uri" *ngIf="user.isStaff">
        <mat-icon class="action__icon">widgets</mat-icon>Widget-uri
    </a>
    <a class="action text-color1" *ngIf="user.isStaff" href="fisiere">
        <mat-icon class="action__icon">collections</mat-icon>Fișiere
    </a>
    <a class="action text-color1" href="liste">
        <mat-icon class="action__icon">library_books</mat-icon>Liste
    </a>
    <a class="action text-color1" (click)="onLogout()">
        <mat-icon class="action__icon">logout</mat-icon>Ieși din account
    </a>
    <a class="action text-color1" (click)="onCloseAccountNav()">
        <mat-icon class="action__icon">close</mat-icon>Închide
    </a>
    <a class="action text-color1 hide-on-large" (click)="onChangeTheme()">
        <mat-icon class="action__icon">{{ isDarkTheme ? 'brightness_5' : 'brightness_4' }}</mat-icon>Schimbă tema
    </a>
</div>
<div *ngIf="loading" class="loading">
    <div class="user-details-view">    
        <div class="user-details">
            <div class="user-photo"></div>
            <h1 class="user-name"></h1>
        </div>
        <img src="https://wallpaperaccess.com/full/690185.jpg" class="background-image">
    </div>
    <div class="user-actions-view">
        <div class="laction">
            <div class="block"></div><h2></h2>
        </div>
        <div class="laction">
            <div class="block"></div><h2></h2>
        </div>
        <div class="laction">
            <div class="block"></div><h2></h2>
        </div>
    </div>
</div>
